$mainColor:rgb(59,206,208);
$secondaryColor:rgb(206,203,203);
$tercerColor:rgb(255,255,255);
$cuartoColor:rgb(238,11,11);
$quintoColor:rgb(12,141,215);
$colorTitulo:rgb(181,196,19);
$keyColor:blue;


$w-100:100%;
$w-50:50%;
$w-25:25%;




